<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phometalk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.IntroActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Sign.SignActivity"/>
        <activity android:name=".Sign.SignPwActivity"/>
        <activity android:name=".Sign.SignAddInfoActivity"/>
        <activity android:name=".FindPW.FindActivity"/>
        <activity android:name=".Friend.AddFriendActivity"/>
        <activity android:name=".Friend.UserPageActivity"/>
        <activity android:name=".Chat.ChatActivity"/>
        <activity android:name=".Chat.UserSelectActivity"/>
        <activity android:name=".Feed.SearchPhotoActivity"/>
        <activity android:name=".Feed.UploadPhotoActivity"/>
        <activity android:name=".Setting.add_block_message"/>
        <activity android:name=".Setting.block_message"/>
        <activity android:name=".Setting.blocked_user"/>
        <activity android:name=".Setting.change_password"/>
        <activity android:name=".Setting.del_block_message"/>
        <activity android:name=".Setting.edit_block_message"/>
        <activity android:name=".Setting.app_info"/>

    </application>

</manifest>